
<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>Measuring how Minnesota boosts Klobuchar's campaign</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-09-12T16:00:00">September 12, 2019</time>
      </div>
    </section>
  
    <section class="container-lg">
      <p>As the crowded and competitive Democratic debate stage gradually winnows, Minnesota’s own Sen. Amy Klobuchar has soldiered on partially due to strong support from her home state.</p>

      <p>The impact of Minnesota donors on Klobuchar’s campaign manifests in several ways, helping keep her in the presidential mix and setting her apart from her closest rivals months before either the crucial Iowa Caucus or the Super Tuesday voting deciding who gets the state’s delegates even begins.</p>

      <p>Here’s some ways Minnesota has contributed to Klobuchar’s run so far:</p>

      <h2>Klobuchar leads in Minnesota small donors</h2>

      <p>Small donor data suggests <a href="http://www.startribune.com/undecided-democrats-spread-small-donations-across-the-presidential-field/559781472/">some indecision among Minnesota Democrats</a> as two dozen presidential candidates jockeys for position, yet Klobuchar maintains a healthy statewide lead in donations, cash and unique donors statewide, even over Sen. Bernie Sanders (D, VT) who overwhelmingly won the state caucus in 2016.</p>
  </section>

    <div class="slide" id="change">
        <div id="gridChart"><img src="./img/grid.png" /></div>
      </div>

  
    <section class="container-lg">
      <p></p>
      <p>And while about a fifth of Klobuchar’s 20,000 unique donors also gave to other candidates, about 80 percent gave exclusively to her campaign.</p>

  </section>

  <div class="slide" id="change">
  <div class="bar">
      <div class='blue4 mainbar' style="width:78%"><div>Klobuchar only<br />80%</div></div><div class='blue3 mainbar' style="width:22%"><div>Klobuchar, others<br />20%</div></div>
    </div>
</div>

  <section class="container-lg">
      <h2>Minnesota is Klobuchar's top donor source</h2>

      <p>About 79,000 unique donors have given small amounts to Sen. Amy Klobuchar's presidential campaign, with a quarter coming from Minnesotans, the most of any single state.</p>

      <p>And while Klobuchar on average polls similarly to some candidates absent from Friday night’s debates, her donor count has kept her aloft so far, even as others have failed to qualify or dropped out entirely. </p>

  </section>

  <div class="slide" id="change">
    <div class="bar">
      <div class='blue4 mainbar' style="width:74%"><div>Outside MN<br />74%</div></div><div class='blue3 mainbar' style="width:26%"><div>MN<br />26%</div></div>
    </div>
  </div>
      
  <section class="container-lg">
    <p>CARTOGRAM HERE</p>


  </section>



  <section class="container-lg">
  <h2>Klobuchar helps drive Minnesota enthusiasm</h2>

  <p>A combination of early Democratic enthusiasm, the raised profile of ActBlue as a donation tool and Klobuchar’s name in the ring are also likely factors driving Minnesota’s small donor engagement far past 2015’s pace.</p>

</section>

<div class="slide" id="compare">
    <!-- <div class="chartHead">Increased small donor activity</div> -->
      <div class="chatter">Comparing ActBlue donations from Minnesotans between <span class="legendary gray3">2015</span> and <span class="legendary blue3">2019</span> shows an uptick in small donations to Democrats.</div>

      <p></p>

      <div class="chartTitle">Minnesota ActBlue donations to presidential campaigns</div>
      <div class="chart" id="prezChart"></div>


  </div>


  <div class="slide">
    <div class="byline">Data sources: ActBlue, Federal Election Commission, Center for Public Integrity | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Measuring how Minnesota boosts Klobuchar's campaign" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
    </div>
  </section>

  </div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
