<div class="strib-styles ssa ssb ssc">
    <section class="container-lg elex-header">
        <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
        <h1>How Minnesota boosts its homegrown presidential campaign</h1>
      <div class="byline">
        <address>By
          <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-09-12T16:00:00">September 12, 2019</time>
      </div>
    </section>
  
    <section class="container-lg">
      <p>Sen. Amy Klobuchar joins a narrowed field of presidential candidates on Friday night's primary debate stage, and has reached this point partially due to strong support from her Minnesota constituents.</p>
      
      <p>Each new debate round triggers tightened DNC donor and polling requirements, which has winnowed the roster by half so far. Candidates with strong bases of small donors – those who give $200 or less to a campaign – tend to move forward, even with flagging poll numbers.</p>

      <p>Klobuchar's resilience through 2019's front half and first two debates relied upon a significant pool of Minnesotans donating modest amounts to her campaign, often through ActBlue, a partisan non-profit with a rising profile as a convenient way to give money to Democratic organizations.</p>

      <p>Here are some ways Minnesotans have helped keep Klobuchar in the mix:</p>
    </section>

    <div class="rule"></div>

    <section class="container-lg">
      <h2>Minnesota's small donors choose Klobuchar</h2>

      <p>Klobuchar has run on her ability to connect with midwestern voters, <a href="http://www.startribune.com/how-amy-klobuchar-fared-in-trump-country/498035261/">including in places Trump claimed in 2016</a>. With her campaign's hopes pinned on February's Iowa Caucus and March's Super Tuesday states (that include Minnesota), strong fundraising from voters in those states could signal possible future successes.</p>

      <p>And while small donor data suggests <a href="http://www.startribune.com/undecided-democrats-spread-small-donations-across-the-presidential-field/559781472/">some indecision among Minnesota Democrats</a> as two dozen presidential candidates jockey for support from a pivotal battleground prize, Klobuchar maintains a healthy statewide lead in donations, cash and unique donors statewide, even over Sen. Bernie Sanders (I-Vt.), who overwhelmingly won the state caucus in 2016.</p>
  </section>

    <div class="slide">
      <div class="chartHead">Which candidates Minnesotans give to</div>
      <div class="chatter">Minnesota presidential candidate ActBlue donations, Jan.-June 2019</div>
      <p></p>
        <table class="tableizer-table">
        <thead><tr class="tableizer-firstrow"><th>Candidate</th><th>Amount</th><th>Donations</th><th>Donors</th></tr></thead><tbody>
         <tr><td class="candidate">Klobuchar</td><td>$2,600,000</td><td>35,000</td><td>20,000</td></tr>
         <tr><td class="candidate">Sanders</td><td>$585,000</td><td>32,000</td><td>13,000</td></tr>
         <tr><td class="candidate">Buttigieg</td><td>$515,000</td><td>12,000</td><td>7,000</td></tr>
         <tr><td class="candidate">Warren</td><td>$316,000</td><td>14,000</td><td>7,000</td></tr>
         <tr><td class="candidate">Biden</td><td>$156,000</td><td>6,000</td><td>4,000</td></tr>
         <tr><td class="candidate">Harris</td><td>$137,000</td><td>6,000</td><td>4,000</td></tr>
         <tr class="cutoff"><td class="candidate">Yang</td><td>$87,000</td><td>3,631</td><td>2,541</td></tr>
         <tr class="cutoff"><td class="candidate">O'Rourke</td><td>$80,000</td><td>3,000</td><td>2,000</td></tr>
         <tr class="cutoff"><td class="candidate">Gabbard</td><td>$44,000</td><td>3,000</td><td>2,000</td></tr>
         <tr class="cutoff"><td class="candidate">Castro</td><td>$41,000</td><td>3,000</td><td>2,000</td></tr>
         <tr class="cutoff dropped"><td class="candidate">Inslee*</td><td>$37,000</td><td>2,000</td><td>1,000</td></tr>
         <tr class="cutoff"><td class="candidate">Williamson</td><td>$31,000</td><td>1,000</td><td>1,000</td></tr>
         <tr class="cutoff"><td class="candidate">Booker</td><td>$31,000</td><td>2,000</td><td>1,000</td></tr>
         <tr class="cutoff"><td class="candidate">Bullock</td><td>$16,000</td><td>300</td><td>200</td></tr>
         <tr class="cutoff dropped"><td class="candidate">Gillibrand*</td><td>$10,000</td><td>1000</td><td>800</td></tr>
         <tr class="cutoff"><td class="candidate">Bennet</td><td>$7,000</td><td>400</td><td>300</td></tr>
         <tr class="cutoff dropped"><td class="candidate">Gravel*</td><td>$5,000</td><td>1,000</td><td>1,000</td></tr>
         <tr class="cutoff dropped"><td class="candidate">Hickenlooper*</td><td>$4,000</td><td>100</td><td>80</td></tr>
         <tr class="cutoff"><td class="candidate">Ryan</td><td>$3,000</td><td>200</td><td>150</td></tr>
         <tr class="cutoff dropped"><td class="candidate">Moulton*</td><td>$2,000</td><td>200</td><td>150</td></tr>
         <tr class="cutoff"><td class="candidate">Delany</td><td>$2,000</td><td>90</td><td>80</td></tr>
         <tr class="cutoff"><td class="candidate">Sestak</td><td>$150</td><td>2</td><td>2</td></tr>
         <tr class="cutoff"><td class="candidate">DeBlasio</td><td>$86</td><td>9</td><td>9</td></tr>
        </tbody></table>

        <div class="byline">Note: numbers are rounded off <span class="cutoff"> | *candidate dropped out</span></div>

        <div id="showhide">show <span class="cutoff">less</span><span class="toggle">more</span></div>

    </div>


  
    <section class="container-lg">
      <p></p>
      <p>And while about a fifth of Klobuchar’s roughly 20,000 unique donors also gave to other candidates, the other 80 percent gave exclusively to her campaign, suggesting some home terf loyalty that not all candidates have.</p>


  </section>

  <div class="rule"></div>

  <section class="container-lg">
      <h2>Minnesota is Klobuchar's top donor source</h2>

      <p>Along those lines, a quarter of Klobuchar's 79,000 small donors come from Minnesota, more than any single state. Minnesota also accounts for nearly a third of her $9 million in small donations.</p>

      <p>Though Klobuchar on average <a href="https://www.realclearpolitics.com/epolls/2020/president/us/2020_democratic_presidential_nomination-6730.html" target="new_">polls similarly</a> to some candidates absent from Friday night’s debates, her donor count has helped keep her aloft, even as others have failed to qualify or dropped out entirely – meaning Minnesota has an outsized impact on her campaign's continued survival.</p>

  </section>

  <div class="slide">
      <div class="chartHead">Where Klobuchar's donors live</div>
      <div class="chatter">Shows Klobuchar small donors by state, shaded <span class="legendary blue1">less</span> to <span class="legendary blue5">more</span>.</div>
      <div id="map"><svg width="550" height="400" viewBox="0 0 440 300" preserveAspectRatio="xMidYMid"></svg></div>
    </div>
      
  <section class="container-lg">

    <p>When examining fundraising from individual donors, the portion Klobuchar draws from Minnesota stands out, with only former Rep. Beto O'Rourke (D-Tx.) and Sen. Kamala Harris (D-Ca.) raising higher percentages of their cash from their own backyards:</p>

  </section>

  <div class="slide">
    <div class="chartHead">How much money candidates receive from home</div>
    <div class="chatter">Shows percentage of fundraising from invididual donors within a candidate's <span class="legendary blue3">home state</span> versus <span class="legendary blue4">elsewhere</span>.</div>
    <p></p>
      <div class="label">O'Rourke</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:50%"><div>Outside TX<br />50%</div></div><div class='blue3 mainbar' style="width:50%"><div>TX<br />50%</div></div>
      </div>

      <div class="label">Harris</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:55%"><div>Outside CA<br />55%</div></div><div class='blue3 mainbar' style="width:45%"><div>CA<br />45%</div></div>
      </div>

      <div class="label">Klobuchar</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:69%"><div>Outside MN<br />69%</div></div><div class='blue3 mainbar' style="width:31%"><div>MN<br />31%</div></div>
      </div>

      <div class="label">Booker</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:73%"><div>Outside NJ<br />73%</div></div><div class='blue3 mainbar' style="width:27%"><div>NJ<br />27%</div></div>
      </div>

      <div class="label">Warren</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:83%"><div>Outside MA<br />83%</div></div><div class='blue3 mainbar' style="width:17%"><div>MA<br />17%</div></div>
      </div>

      <div class="label">Biden</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:98%"><div>Outside DE<br />98%</div></div><div class='blue3 mainbar' style="width:2%"><div>&nbsp;<br />&nbsp;</div></div>
      </div>

      <div class="label">Buttigieg</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:99%"><div>Outside IN<br />99%</div></div><div class='blue3 mainbar' style="width:1%"><div>&nbsp;<br />&nbsp;</div></div>
      </div>

      <div class="label">Sanders</div>
      <div class="bar">
        <div class='blue4 mainbar' style="width:99%"><div>Outside VT<br />99%</div></div><div class='blue3 mainbar' style="width:1%"><div>&nbsp;<br />&nbsp;</div></div>
      </div>

  </div>

  <div class="rule"></div>

  <section class="container-lg">
  <h2>Klobuchar helps drive Minnesota's early interest</h2>

  <p>With the flurry of debates, advertisements and two dozen candidates running around state fairs, it's easy to forget it's still early in the primary season, yet Democrats appear far more engaged than previous cycles.</p>

  <p>And Klobuchar has captured a significant portion of that enthusiasm, as her numbers alone match the entirety of 2015's ActBlue small donations to presidential candidates from Minnesotans.</p>
</section>

<div class="slide" id="compare">
      <div class="chartHead">Increased donor engagement</div>
      <div class="chartTitle">Comparing ActBlue donations to presidential campaigns from Minnesotans between <span class="legendary gray3">2015</span> and <span class="legendary blue3">2019</span> shows an uptick in small donations to Democrats, with <span class="legendary blue5">Klobuchar</span> already matching all of 2015's activity.</div>

      <p></p>

      <div class="chart" id="prezChart"></div>
  </div>


<section class="container-lg">

    <p>Minnesotans also responded most to Klobuchar after her snowy February presidential campaign announcement and around her appearance in June's first Democratic primary debate.</p>
  
  </section>


<div class="slide" id="compare">
      <div class="chartHead">Democrats outpacing last cycle's engagement</div>
      <div class="chatter">Minnesota ActBlue donations to all Democratic organizations in the first six months of <span class="legendary blue3">2019</span> outpaced <span class="legendary gray3">2015</span>, with donation boosts to <span class="legendary blue5">Klobuchar</span> appearing at key times.</div>

      <p></p>

      <div class="chart" id="klobuChart"></div>
</div>

<section class="container-lg">
    
    <p>Klobuchar has also qualified for October's debate with the necessary polls and donors. Future FEC filings will reveal whether she's managed to expand her donor base outside Minnesota.</p>
  
  </section>

  <div class="slide">
    <div class="byline">Data sources: ActBlue, Federal Election Commission, Center for Public Integrity, Center for Responsive Politics | Graphics by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

  <section class="container-lg">
      <div class="article-author-contact">
        <div class="article-author-hcard">
            <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
            <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=Measuring how Minnesota boosts Klobuchar's campaign" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
            <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
            <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
      </div>
    </div>
  </section>



  </div>

<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
